.modalItem {
    margin-bottom: 24px;
    width: 50%;
    padding: 0 12px;
}

.modalItemImg {
    width: 100%;

    img {
        border-radius: 8px 8px 8px 8px;
    }
}

.modalFullDuration {
    display: flex;
    align-items: center;
    margin-top: 4px;

    img {
        width: 16px;
        height: 16px;
        margin-right: 6px;
    }

    h3 {
        color: #a5a1b2;
        font-size: 13px;
        line-height: 16px;
        font-weight: 400;
        height: 16px;
    }
}

.itemName,
.modalItemName {
    color: #d9d7e0;
    font-size: 15px;
    line-height: 20px;
    font-weight: 500;
    font-style: normal;
    cursor: pointer;
    margin-top: 12px;
}

.shortDuration {
    margin-top: 4px;
    cursor: pointer;
    color: #a5a1b2;
    font-size: 13px;
    line-height: 16px;
    font-weight: 400;
    font-style: normal;
    height: 16px;
}

@media(max-width:600px) {
    .modalItem {
        width: 100%;
    }
}