.wrapper {
  max-width: 1216px;
  padding: 0 8px;
  margin: 16px auto 40px;
}

.backLink {
  max-width: 100px;
  height: 20px;
  cursor: pointer;
  margin: 32px 0 16px 0;
  display: flex;
  align-items: center;

  img {
    margin-right: 10px;
  }

  span {
    color: white;
    font-size: 15px;
    line-height: 20px;
    font-weight: 500;
  }

  &:hover {
    img {
      width: 26px;
    }
  }
}

.content {
  max-width: 600px;
  margin: auto;
}

.img {
  img {
    border-radius: 16px;
    width: 120px;
    height: 120px;
  }

  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 144px;
}

.name {
  font-size: 56px;
  line-height: 56px;

  font-weight: 700;
  margin-top: 16px;
  color: #fff;
}

.nation {
  color: #a5a1b2;
  font-size: 15px;
  line-height: 22px;
  font-weight: 400;

  margin-top: 16px;
}

.info {
  font-size: 15px;
  line-height: 22px;
  font-weight: 400;

  color: #a5a1b2;

  a {
    font-size: 15px;
    line-height: 22px;
    font-weight: 400;

    margin-top: 6px;
    color: #a5a1b2;
    text-decoration: none;
    cursor: pointer;

    &:hover {
      color: #fff;
    }
  }

  p {
    margin: 16px 0;
    color: #d9d7e0;
  }
}

.actorNav {
  display: flex;
  justify-content: center;

  margin-bottom: 40px;
}

@media(max-width: 1160px) {

  .wrapper {
    padding-bottom: 25px;
  }

  .actorNav {
    display: flex;
    justify-content: center;
  }
}

@media (max-width: 770px) {
  .actorNav {
    display: none;
  }
}