.films {
    margin-top: 40px;
}

.items {
    border-top: 1px solid rgba(255, 255, 255, .16);
}

.title {
    max-height: 28px;
    display: flex;
    align-items: flex-end;
    margin-bottom: 20px;

    div {
        color: #a5a1b2;
        font-size: 15px;
        line-height: 20px;
        font-weight: 400;
    }

    h2 {
        color: #fff;
        color: #fff;
        font-size: 24px;
        line-height: 28px;
        font-weight: 700;
        font-style: normal;
        margin-right: 10px;
    }
}

@media(max-width:600px) {
    .title {
        display: block;
    }
}