.categories__plank {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 4px;
  background-color: #312b45;
  height: 56px;
  padding: 8px 16px;
  transition-duration: .4s;
  cursor: pointer;
}

.isActive {
  background-color: #7e798f !important;
  transition-duration: .4s;

}

.categories__plankGroup {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  min-width: 30px;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
}


.categories__text {
  color: #a5a1b2;
  font-size: 13px;
  line-height: 16px;
  height: 16px;
  font-weight: 500;
}





.filterDropDown {
  position: absolute;
  padding-top: 4px;
  width: 630px;
  z-index: 1;

}



.filterDropDown__inner {
  background: #312b45;
  border-radius: 4px;
  box-shadow: 0 16px 32px rgba(7,5,14,.4);
  min-height: 150px;
}


.filterDropDown__content {
  padding: 16px;
}