.trailerButton,
.markerButton,
.shareButton,
.freeFilmsButton {
    background-color: rgba(255, 255, 255, .08);
    border-color: rgba(255, 255, 255, .08);
    border-radius: 8px;
    padding: 10px 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 16px;
    height: 40px;

    h3 {
        font-size: 15px;
        line-height: 20px;
        font-weight: 500;
        font-style: normal;
        color: rgba(255, 255, 255, .72);
        margin-left: 4px;
    }
}

.trailerButton {
    width: 109px;
}

.markerButton,
.shareButton {
    width: 40px;
}

.freeFilmsButton {
    width: 200px;
}

@media(max-width:1160px) {
    .trailerButton {
        width: 334px;
        margin-bottom: 12px;
    }

    .markerButton,
    .shareButton {
        width: 45%;
        margin-right: 0;
    }

    .freeFilmsButton {
        width: 66%;
    }
}


@media(max-width:880px) {
    .trailerButton {
        width: 116px;
        margin: 0;
    }

    .trailerButton,
    .markerButton,
    .shareButton {
        background: transparent;
        height: 36px;
        padding-left: 4px;
        padding-right: 4px;
    }

    .markerButton,
    .shareButton {
        width: 44px;
    }

    .freeFilmsButton {
        width: 100%;
    }
}