.creatorsLink {
  margin-right: 24px;
  margin-bottom: 24px;

  width: 90px;

  cursor: pointer;

  img {
    border-radius: 50%;
    object-fit: cover;
  }

  .creatorsItemName {
    color: #d9d7e0;

    font-size: 13px;
    line-height: 16px;
    font-weight: 500;

    transition-duration: 0.3s;
  }

  .creatorsItemJob {
    color: #a5a1b2;

    font-weight: 400;
    font-size: 13px;
    line-height: 16px;

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }


  &:hover {
    .creatorsItemName {
      transition-duration: 0.3s;
      color: #ffffff;
    }
  }
}
