.modalCreatorsLink {
  width: 25%;

  padding-left: 12px;
  padding-right: 12px;
  margin-bottom: 24px;

  .modalCreatorsItemImg {
    img {
      border-radius: 50%;
      width: 100%;

      margin-bottom: 4px;
    }
  }

  .modalCreatorsItemName {
    color: #d9d7e0;

    font-size: 15px;
    line-height: 20px;
    font-weight: 500;
  }

  .modalFilmsCount {
    color: #a5a1b2;

    font-size: 13px;
    line-height: 16px;
    font-weight: 400;

    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}

.creatorsLink {
  margin-right: 24px;
  margin-bottom: 24px;

  width: 90px;

  cursor: pointer;

  img {
    border-radius: 50%;
    object-fit: cover;
  }

  .creatorsItemName {
    color: #d9d7e0;

    font-size: 13px;
    line-height: 16px;
    font-weight: 500;

    transition-duration: 0.3s;
  }

  .creatorsItemJob {
    color: #a5a1b2;

    font-weight: 400;
    font-size: 13px;
    line-height: 16px;

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }


  &:hover {
    .creatorsItemName {
      transition-duration: 0.3s;
      color: #ffffff;
    }
  }
}
