.awardsItem {
    background-color: #1f1b2e;
    border-radius: 12px;
    cursor: pointer;
    width: 45%;
    height: 128px;
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 0 20px;
    margin-top: 10px;
}

.awardsItemImg {
    margin-right: 20px;

    img {
        width: 72px;
        height: 72px;
    }
}

.awardsItemInfoTitle {
    font-size: 17px;
    line-height: 22px;
    font-weight: 700;
    font-style: normal;
    height: 22px;
    color: #fff;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.awardsItemInfoDescription {
    font-size: 15px;
    line-height: 20px;
    font-weight: 400;
    font-style: normal;
    height: 20px;
    margin-top: 2px;
    color: rgba(255, 255, 255, .48);
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.moldalItem {
    display: flex;
    justify-content: flex-start;
}

.moldalItemImg {
    height: 116px;
    width: 116px;
    border-radius: 12px;
    background-color: rgba(255, 255, 255, .08);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 24px;

    img {
        width: 84px;
        height: 84px;
    }
}
.moldalItemInfo{
    li{
        list-style: none;
    }
}
@media(max-width:600px) {
    .awardsItem {
        width: 100%;
    }
}