.modal {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: none;
    color: #fff;
    overflow: scroll;
    background-color: rgba(30, 26, 26, 0.9);
    z-index: 1000;
}

.modalContainer {
    width: 1200px;
    margin: auto;
    padding: 0 10px;
}

.modalWrapper {
    margin: auto;
    padding: 0 12.5%;
    display: flex;
    justify-content: space-between;
}

.backLink {
    margin-top: 24px;
    margin-bottom: 40px;
    width: 99px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.left{
    width: 584px;
}

.title {
    font-size: 40px;
    line-height: 44px;
    font-weight: 900;
    font-style: normal;
    color: #fff;
    margin-bottom: 20px;
}

.modalWrapper {
    margin: auto;
    padding: 0 12.5%;
    display: flex;
    justify-content: space-between;
}

.left{
    width: 584px;
}