.rate {
    background-color: rgba(255, 255, 255, .08);
    border-radius: 12px;
    padding: 10px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 24px;
}

.rateWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.balls {
    width: 64px;
    height: 64px;
    background-color: #73a32f;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ballsDescription {
    margin-left: 16px;

    h2 {
        font-size: 15px;
        line-height: 20px;
        font-weight: 500;
        font-style: normal;
        color: #fff;
    }

    p {
        font-size: 15px;
        line-height: 20px;
        font-weight: 400;
        font-style: normal;
        color: rgba(255, 255, 255, .72);
    }
}

.rateBtn {
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, .32);
    width: 72px;
    height: 24px;
    border-width: 1px;
    border-radius: 6px;
    padding: 3px 7px;
    color: #fff;
    font-size: 13px;
    line-height: 16px;
    font-weight: 500;
    font-style: normal;
    text-align: center;
}


@media(max-width:1160px) {
    .rate {
        width: 66%;
    }
}

@media(max-width:880px) {
    .rate {
        width: 100%;
    }

    .ballsDescription {
        p {
            &:nth-child(2) {
                display: none;
            }
        }
    }

    .balls {
        width: 48px;
        height: 48px;
    }
}