.sort {
  position: relative;
  margin-bottom: 20px;

}

.sort__group {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}

.sort__title {
  color: #ffffff;
  font-size: 15px;
  line-height: 20px;
  font-weight: 500;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  height: 20px;
}


.sort__dropDown {
  opacity: 1;
  min-width: 250px;
  position: absolute;
  top: 32px;
  z-index: 2;
  display: inline-block;
  padding-top: 8px;
  padding-bottom: 12px;
  background-color: #1f1b2e;
  box-shadow: 0 20px 40px rgba(7,5,14,.4);
}

.sort__dropDown_title {
  margin-left: 4px;
  margin-top: 4px;
  margin-bottom: 12px;
  padding: 0 16px;
  font-size: 15px;
  line-height: 20px;
  font-weight: 400;
  color: #a5a1b2;
}

.sort__dropDown_item {
  padding-left: 20px;
  position: relative;
  background-color: transparent;
  opacity: 1;
  display: block;
  padding-right: 16px;
  padding-top: 12px;
  padding-bottom: 12px;
  font-size: 0;
  white-space: nowrap;
  cursor: pointer;
  color: rgba(255,255,255,.72);

  &:hover {
    background-color: #312B45;
    color: #ffffff;
  }
}

.sort__dropDown_text {
  display: inline-block;
  vertical-align: top;
  font-size: 15px;
  line-height: 20px;
  font-weight: 500;
  font-style: normal;
  max-height: 20px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}