.gallery {
    padding-top: 24px;
    padding-bottom: 24px;
    position: relative;
    // padding-left: 24px;
}

.galleryTitle {
    min-height: 52px;
    font-size: 24px;
    line-height: 28px;
    font-weight: 700;
    font-style: normal;
    margin-bottom: 24px;
}

.galleryItems {
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    width: 100%;
    padding-left: 10px;
    >div {
        padding-right: 24px;
        transition: all 1.2s;

        &:last-child {
            margin-right: 0;
        }
    }
}

.next {
    width: 64px;
    height: 64px;
    position: absolute;
    right: -25px;
    top: 185px;
    cursor: pointer;
    background: transparent;
    opacity: 0.5;

    &:hover {
        opacity: 1;
    }
}

.prev {
    width: 64px;
    height: 64px;
    position: absolute;
    left: -25px;
    top: 185px;
    cursor: pointer;
    display: none;
    opacity: 0.5;

    &:hover {
        opacity: 1;
    }
}