.wrapper {
  max-width: 1216px;
  padding: 0 8px;
  margin: 16px auto 40px;
}

.backLink {
  max-width: 100px;
  height: 20px;
  cursor: pointer;
  margin: 32px 0 16px 0;
  display: flex;
  align-items: center;

  img {
    margin-right: 10px;
  }

  span {
    color: white;
    font-size: 15px;
    line-height: 20px;
    font-weight: 500;
    font-style: normal;
  }

  &:hover {
    img {
      width: 26px;
    }
  }
}

.content {
  max-width: 600px;
  margin: auto;
}

.img {
  img {
    border-radius: 16px;
    width: 120px;
    height: 120px;
  }

  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 144px;
}

.name {
  font-size: 56px;
  line-height: 56px;
  font-style: normal;
  font-weight: 700;
  margin-top: 16px;
  color: #fff;
}

.nation {
  color: #a5a1b2;
  font-size: 15px;
  line-height: 22px;
  font-weight: 400;
  font-style: normal;
  margin-top: 16px;
}

.info {
  font-size: 15px;
  line-height: 22px;
  font-weight: 400;
  font-style: normal;
  color: #a5a1b2;

  a {
    font-size: 15px;
    line-height: 22px;
    font-weight: 400;
    font-style: normal;
    margin-top: 6px;
    color: #a5a1b2;
    text-decoration: none;
    cursor: pointer;

    &:hover {
      color: #fff;
    }
  }

  p {
    margin: 16px 0;
    color: #d9d7e0;
  }
}

.films {
  margin-top: 40px;
}


.filmsTitle {
  max-height: 28px;
  display: flex;
  align-items: flex-end;
  margin-bottom: 20px;

  div {
    color: #a5a1b2;
    font-size: 15px;
    line-height: 20px;
    font-weight: 400;
  }

  h2 {
    color: #fff;
    font-size: 24px;
    line-height: 28px;
    font-weight: 700;
    font-style: normal;
    margin-right: 10px;
  }
}

.items {
  border-top: 1px solid rgba(255, 255, 255, .16);
}

.item {
  margin-top: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.filmImg {
  width: 80px;
  min-width: 75px;
  height: 122px;

  img {
    border-radius: 4px;
    width: 100%;
  }
}

.filmInfo {
  width: 83%;
  height: 122px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 20px;
}

.itemWrapper {
  height: 68px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #fff;
  font-size: 15px;
  line-height: 22px;
  font-weight: 500;
  font-style: normal;

  div {
    &:nth-child(3) {
      color: #a5a1b2;
      font-size: 13px;
      line-height: 16px;
      font-weight: 500;
      font-style: normal;
    }
  }
}


.look {
  cursor: pointer;
  width: 140px;
  height: 40px;
  padding: 9px 15px;
  background-color: #312b45;
  border-color: #312b45;
  border-radius: 8px;
  text-align: center;

  a {
    color: #fff;
    font-size: 15px;
    line-height: 20px;
    font-weight: 500;
    font-style: normal;
  }

  &:hover {
    background-color: #453e5d;
  }
}

.more {
  margin: 16px 0;

  a {
    color: #a5a1b2;
    cursor: pointer;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    text-decoration: none;

    &:hover {
      color: #fff;
    }
  }
}

@media(max-width:600px) {
  .filmInfo {
    flex-direction: column;
    align-items: flex-start;
  }

  .look {
    width: 100%;
  }

  .filmsTitle {
    display: block;
  }
}

@media(max-width:310px) {
  .items {
    border-top: 1px solid rgba(255, 255, 255, .16);
    margin-top: 60px;
  }
}