.wrapper {
  position: relative;
  max-width: 1240px;
  margin: 0 auto;
  //  padding: 0 12px;
}


.filter {
  background-color: #1f1b2e;
  //margin-left: -12px;
  //margin-right: -12px;
  //padding-left: 12px;
  //padding-right: 12px;
  border-radius: 6px;
  color: #fff;
}


.filter__content {
  padding: 16px;
}

.filter__plankList {
  display: flex;
  flex-wrap: wrap;
  margin-left: -6px;
  margin-right: -6px;
}

.filter__plankItem {
  position: relative;
  width: 20%;
  margin-bottom: 12px;
  padding-right: 6px;
  padding-left: 6px;

  @media (max-width: 878px) {
    width: 50%;
  }

  @media (max-width: 600px) {
    width: 100%;
  }
}

.filter__plank {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 4px;
  background-color: #312b45;
  height: 56px;
  padding: 8px 16px;
  transition-duration: .4s;
  cursor: pointer;
}

.isActive {
  background-color: #7e798f !important;
  transition-duration: .4s;

}

.filter__plankTitle {
  min-width: 30px;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}


.filter__reset {
  margin-top: 16px;
  display: flex;
}

.filter__resetContent {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 15px;
  line-height: 20px;
  font-weight: 400;
  font-style: normal;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  margin-top: auto;
  height: 32px;
  padding: 8px;
  transition: color 400ms;

  &:hover {
    color: #ea003d;
  }
}


.genesUl {
  margin-top: 16px;
  padding-top: 4px;
  border-top: 1px solid rgba(255, 255, 255, .32);
  display: grid;
  grid-column-gap: 40px;
  grid-template-columns: repeat(3, 1fr);

  @media (max-width: 745px) {
    grid-template-columns: repeat(2,1fr);
  }
}


.genesLi {
  margin-top: 12px;

  font-size: 13px;
  line-height: 16px;
  font-weight: 500;
  color: rgba(217, 215, 224, .8);
  transition: color 400ms;

  cursor: pointer;


  &:hover {
    color: #fff;
    transition: color 400ms;
  }

}


.filterGenres {
  position: absolute;
  padding-top: 4px;
  width: 630px;
  z-index: 1;

  @media (max-width: 745px) {
    width: 97.5%;
  }



}

.filterCountries {
  position: absolute;
  padding-top: 4px;
  width: 630px;
  z-index: 1;

  @media (max-width: 878px) {
    width: 150%;
    left: -51%;
  }


  @media (max-width: 745px) {
    width: 97.5%;
    left: 1%;
  }

}

.filterYears {
  position: absolute;
  padding-top: 4px;
  width: 98%;
  z-index: 1;
}


.filterRating {
  position: absolute;
  left: -82%;
  padding-top: 4px;
  width: 180%;
  z-index: 1;

  @media (max-width: 878px) {
    width: 98%;
    left: 1%;
  }
}

.filterSearch {
  position: absolute;
  padding-top: 4px;
  width: 480px;
  z-index: 1;

  @media (max-width: 878px) {
    width: 100%;
    left: 0;
  }
}


.inputText__body {
  position: relative;
  overflow: hidden;
  border-radius: 8px;
  height: 40px;
  margin-bottom: 20px;
}

.inputText__title {
  margin-bottom: 15px;
  font-size: 15px;
  font-weight: 700;
}

.inputText__input {
  display: block;
  width: 100%;
  border-width: 0;
  padding: 18px 40px 2px 12px;
  cursor: auto;
  background-color: #d9d7e0;
  color: #1f1b2e;
  font-size: 15px;
  line-height: 20px;
  font-weight: 500;
}

.inputText__icon {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  padding: 10px;
  color: rgba(31, 27, 46, .16);
}

.inputText__placeholder {
  left: 12px;
  right: 40px;
  height: 20px;
  top: 10px;
  color: #a5a1b2;
  will-change: transform;
  pointer-events: none;
  position: absolute;
  text-rendering: geometricPrecision;
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
  font-size: 15px;
  line-height: 20px;
  font-weight: 500;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  transition-duration: .4s;
}

.inputText__input:focus {
  border: 8px;
}

.inputText__input:focus~.inputText__placeholder {
  top: 0;
  font-size: 14px;
}


.inputText__item {
  display: flex;
  gap: 12px;
  align-items: center;
  font-size: 15px;
  line-height: 20px;
  font-weight: 500;
  color: #a5a1b2;

  &:hover {
    color: rgb(234, 0, 61);
    transition: color .4s;

  }
}


.inputRange__block {
  margin-top: 30px;
  position: relative;
  display: flex;
  flex-direction: column;
}


.inputRange__input {
  position: relative;
  height: 10px;
  -webkit-appearance: none;
  width: 100%;

  &:focus {
    outline: none;
  }
}


.inputRange__text {
  position: absolute;
  background-color: #1F1B2E;
  display: inline-block;
  text-align: center;
  top: 37px;
  left: 42%;
  min-width: 20px;
  vertical-align: top;
  border-radius: 10px;
  padding: 10px;
}


.inputRange__numStart {
  position: absolute;
  top: 20px;
 left: 0;
}

.inputRange__numEnd {
  position: absolute;
  top: 20px;
  right: 0;
}

.inputRange__input::-webkit-slider-runnable-track {
  width: 100%;
  height: 10px;
  cursor: pointer;
  background: #100E19;
  border-radius: 2px;
}

.inputRange__input::-webkit-slider-thumb {
  border: 1px solid #6c6c6c;
  height: 18px;
  width: 15px;
  border-radius: 14px;
  background: #fff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -6px;
  //box-shadow: -300px 0 0 300px #7D788E;
}




