.locales {
  display: flex;
  margin-right: 10px;
}

.locales__btnLeft {
  text-align: center;
  cursor: pointer;
  width: 35px;
  height: 20px;
  background-color: white;
  color: #1f1b2e;
  font-weight: 500;
  border-bottom-left-radius: 7px;
  border-top-left-radius: 7px;
  background-image: -webkit-linear-gradient(90deg, #834CC2 50%, transparent 50%);
  background-image: linear-gradient(90deg, #834CC2 50%, transparent 50%);
  background-position: 35px;
  background-size: 70px;
  -webkit-transition: background .5s ease-in-out;
  transition: background .5s ease-in-out;
  text-decoration: none;
}

.locales__btnRight {
  text-align: center;
  cursor: pointer;
  width: 35px;
  height: 20px;
  background-color: white;
  color: #1f1b2e;
  border-bottom-right-radius: 7px;
  border-top-right-radius: 7px;
  font-weight: 500;
  background-image: -webkit-linear-gradient(90deg, #834CC2 50%, transparent 50%);
  background-image: linear-gradient(90deg, #834CC2 50%, transparent 50%);
  background-position: -35px;
  background-size: 70px;
  -webkit-transition: background .5s ease-in-out;
  transition: background .5s ease-in-out;
  text-decoration: none;
}

.locales__btn_active {
  background-color: #834CC2;
  color: #fff;
  pointer-events: none;
  background-position: 0;
}