.commentsItem {
    width: 286px;
    height: 162px;
    border-radius: 8px;
    cursor: pointer;
    background-color: #1f1b2e;
    padding: 20px 20px 52px;
    margin-top: 10px;
}

.commentsItemName {
    color: #a5a1b2;
    margin-bottom: 8px;
    font-size: 13px;
    line-height: 16px;
    font-weight: 700;
    font-style: normal;
}

.commentsItemDescription {
    font-size: 15px;
    line-height: 22px;
    font-weight: 400;
    height: 66px;
    color: #fff;
    font-style: normal;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.commentsItemBottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 8px;
}

.commentsItemDate {
    color: #a5a1b2;
    font-size: 13px;
    line-height: 16px;
    font-weight: 400;
    font-style: normal;
}

.commentsItemLikes {
    width: 76px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    span {
        color: #73a32f;
        font-size: 15px;
        line-height: 20px;
        font-weight: 700;
        font-style: normal;
    }

    img {
        width: 16px;
        height: 16px;
    }
}



//

.modalComment {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 28px;
}

.modalAvatar {
    width: 20px;
    height: 20px;
    border-radius: 5px;
    background-color: palevioletred;
    text-align: center;
    padding: 2px;
    font-size: 12px;
}

.modalInfo {
    width: 466px;
}

.modalInfoHeader {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.modalName {
    margin-right: 8px;
    font-weight: 700;
    font-size: 13px;
    line-height: 16px;
    font-style: normal;
    color: #a5a1b2;
}

.modalDate {
    font-size: 13px;
    line-height: 16px;
    font-style: normal;
    font-weight: 400;
    color: #a5a1b2;
}

.modalDescription {
    p {
        font-weight: 400;
        font-size: 15px;
        line-height: 22px;
        font-style: normal;
        color: #d9d7e0;
    }
}

.modalLikes {
    width: 76px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    span {
        color: #73a32f;
        font-size: 15px;
        line-height: 20px;
        font-weight: 700;
        font-style: normal;
    }

    :last-child {
        transform: rotate(180deg);
    }
}

.modalAnswerButton {
    color: rgb(39, 39, 187);
}