* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: #100e19;
  font-family: 'iviSans', sans-serif;
}

.main__slider {
  height: 500px;

  .main__slide {
    border-radius: 20px;
    overflow: hidden;
  }

  .swiper-button-prev,
  .swiper-button-next {
    display: flex;

    width: calc(100% - 84%) !important;
    height: 500px !important;
    margin-top: -250px !important;
  }

  .swiper-slide-prev,
  .swiper-slide-next {
    opacity: 0.6;
  }

  .swiper-button-prev {
    justify-content: right !important;
    padding-right: 10px;

    margin-left: -20px;
  }

  .swiper-button-next {
    justify-content: left !important;
    padding-left: 10px;

    margin-right: -20px;
  }
}

.slider__films,
.slider__rating,
.slider__interesting {
  .swiper-button-prev {
    padding-right: 2px;

    margin-left: -14px;
  }

  .swiper-button-next {
    padding-left: 2px;

    margin-right: -14px;
  }
}

.slider__films {
  max-width: 1303px;
  padding: 0 22px 0 22px !important;

  .swiper-button-prev,
  .swiper-button-next {
    height: 290px !important;
    margin-top: -155px !important;

    background-color: #100e19;
  }
}

.slider__rating {
  max-width: 1303px;
  padding: 0 22px 0 22px !important;

  .swiper-button-prev,
  .swiper-button-next {
    height: 500px !important;
    margin-top: -250px !important;

    background-color: #100e19;
  }
}

.slider__interesting {
  max-width: 1303px;
  padding: 0 22px 0 22px !important;

  .swiper-button-prev,
  .swiper-button-next {
    height: 300px !important;
    margin-top: -150px !important;

    background-color: #100e19;
  }
}


.swiper-button-disabled {
  opacity: 1 !important;

  &:after {
    content: '' !important;
  }
}

.swiper-button-next:after,
.swiper-button-prev:after {
  font-size: 26px !important;

  border-radius: 20px;

  color: rgba(255, 255, 255, 0.6);
}

.swiper-button-next:hover::after,
.swiper-button-prev:hover::after {
  color: rgba(255, 255, 255, 1);
}

.swiper-button-next:active::after,
.swiper-button-prev:active::after {
  transform: scale(0.9);
}


a,
a:link,
a:visited {
  text-decoration: none;
}

aside,
nav,
footer,
header,
section,
main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
}

ul,
ul li {
  list-style: none;
}


input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
  border: 0;
  outline: none;
}


.modalScroll {
  overflow-y: hidden;
}


a {
  text-decoration: none;
  color: white;
}

button {
  cursor: pointer;
}