.wrapper {
  padding-bottom: 24px;

  .container {
    max-width: 1262px;
    margin: 0 auto;
  }

  .teaser__list {
    display: flex;
    justify-content: space-between;

    margin: 25px 0 30px 0;

    li {
      width: 620px;
      height: 48px;

      background-color: #56006e;
      border-radius: 7px;

      .content {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;

        font-size: 15px;
        line-height: 20px;
        font-weight: 500;

        color: #fff;

        img {
          margin-right: 5px;
        }
      }
    }

    .teaser__item {
      background-color: #1f1b2e;
      background-size: auto 48px;

      &:first-child {
        background-image: url('https://solea-parent.dfs.ivi.ru/picture/bypass/teaserTilePattern_a.svg');
        background-repeat: no-repeat;
        background-position: 50% 50%;
      }
    }
  }

  .slide {
    position: relative;
    display: block;
    height: 100%;

    overflow: hidden;
    border-radius: 20px;

    &__content {
      position: absolute;
      bottom: 0;
      z-index: 2;

      width: 540px;
      padding: 32px;

      .showButton {
        cursor: pointer;
        transition: 4s;

        width: 177px;
        height: 40px;

        border-radius: 8px;

        margin-top: 24px;
        padding: 9px 15px;
        background-color: #ea003d;

        font-size: 14px;

        font-weight: 500;
        line-height: 20px;

        &:hover {
          background-color: #ea004d;
          transition: 4s;
        }
      }

      .title {
        font-size: 56px;

        font-weight: 700;
        line-height: 56px;
      }

      .subtitle {
        font-size: 15px;
        font-weight: 400;
        line-height: 22px;

        margin-top: 20px;
      }

    }

    .image {
      position: absolute;
    }
  }
}