.wrapper {
    margin-top: 16px;
}

.backlink {
    cursor: pointer;
    width: 86px;
    margin: 32px 0 16px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &:last-child {
        font-size: 15px;
        line-height: 20px;
        font-weight: 500;
        font-style: normal;
        height: 20px;
    }
}

.leftarrow {
    color: #fff;
    width: 20px;
    height: 20px;
    font-size: 20px;
    line-height: 20px;
}

.content {
    max-width: 600px;
    margin: auto;
}

.films {
    margin-top: 40px;
}

.title {
    max-width: 375px;
    max-height: 28px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 20px;

    span {
        color: #a5a1b2;
        font-size: 15px;
        line-height: 20px;
        font-weight: 400;
    }
}

.more {
    margin: 16px 0;

    a {
        color: #a5a1b2;
        cursor: pointer;
        font-family: inherit;
        font-size: inherit;
        line-height: inherit;
        text-decoration: none;
    }
}