.header {
  position: relative;
  z-index: 100;
  color: rgba(255, 255, 255, 0.48);
  display: flex;
  height: 72px;
  align-items: center;
  font-size: 15px;
  line-height: 20px;
  font-weight: 500;
  font-style: normal;
  font-family: iviSans, Arial, Helvetica, Helvetica Neue, FreeSans, sans-serif;

  &__logo {
    margin-right: 20px;
  }
}


.wrapper {
  position: relative;
  max-width: 1302px;
  margin: 0 auto;
  padding: 0 20px;
}


.header__right {
  height: 100%;
  display: flex;
  margin-left: auto;
  align-items: center;
}

.header__rightContainer {
  padding-right: 20px;
  display: flex;
  height: 100%;
  align-items: center;
}

.header__linkAdmin {
  display: flex;
  justify-content: center;
  width: 70px;
  margin-right: 20px;
  height: 20px;
  border-radius: 10px;
  background: linear-gradient(279deg, #622466, #da00e8, #dbbcdd);
  background-size: 600% 600%;
  -webkit-animation: AnimationName 3s ease infinite;
  -moz-animation: AnimationName 3s ease infinite;
  animation: AnimationName 3s ease infinite;
}

@-webkit-keyframes AnimationName {
  0% {
    background-position: 0% 50%
  }
  50% {
    background-position: 100% 50%
  }
  100% {
    background-position: 0% 50%
  }
}

@-moz-keyframes AnimationName {
  0% {
    background-position: 0% 50%
  }
  50% {
    background-position: 100% 50%
  }
  100% {
    background-position: 0% 50%
  }
}

@keyframes AnimationName {
  0% {
    background-position: 0% 50%
  }
  50% {
    background-position: 100% 50%
  }
  100% {
    background-position: 0% 50%
  }
}


.header__rightSearch {
  padding-right: 10px;
  display: flex;
  height: 100%;
  align-items: center;

  @media (max-width: 1158px) {
    display: none;
  }
}


.header__notifications {
  display: flex;
  height: 100%;
  align-items: center;
  padding: 0 10px;

  @media (max-width: 600px) {
    display: none;
  }
}

.header__rightUser {
  padding: 0 0 0 10px;
  display: flex;
  height: 100%;
  align-items: center;

  @media (max-width: 600px) {
    display: none;
  }
}

.header__btnPay {
  font-weight: 500;
  color: #fff;
  font-size: 13px;
  align-content: center;
  align-items: center;
  display: flex;
  height: 32px;
  text-align: center;
  text-size-adjust: 100%;
  width: 150.488px;
  background: rgb(234, 0, 61) linear-gradient(270deg, rgb(234, 0, 61) 0px, rgb(196, 71, 255) 100%) repeat scroll 0 0px / auto border-box border-box;
  border: 0.8px solid rgba(0, 0, 0, 0);
  border-radius: 8px;
  line-height: 16px;
  padding: 7px 11px;

  @media (max-width: 600px) {
    display: none;
  }
}

.header__btnSearch {
  display: flex;
  gap: 7px;
  align-items: center;
  border: none;
  color: rgba(255, 255, 255, 0.48);
  transition-duration: 0.4s;

  &:hover {
    color: #fff;
    transition-duration: 0.4s;
  }
}


.header__btnUser {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 47.2px;
  height: 47.2px;
  border: 1.6px solid rgba(255, 255, 255, 0.48);
  color: rgba(255, 255, 255, 0.48);
  border-radius: 8px;
  transition: border-color 0.4s ease 0.1s, background-color 0.4s ease 0.1s;
  transition-duration: 0.4s;

  &:hover {
    color: #fff;
    border-color: #fff;
    border-width: 2px;
    box-shadow: 0 4px 16px rgba(255, 255, 255, .24);
  }
}

.userActive {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 47.2px;
  height: 47.2px;
  transition-duration: 0.4s;
  background-color: #4a9423;
  color: white;
  border-radius: 8px;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  cursor: pointer;
  &:hover {
    box-shadow: 0 4px 16px rgba(255, 255, 255, .24);
  }
}
