.item {
    margin-top: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    img {
        border-radius: 4px;
        width: 80px;
    }
}

.info {
    width: 500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.wrapper {
    height: 68px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.look{
    cursor: pointer;

    a {
        background-color: #312b45;
        border-color: #312b45;
        width: 140px;
        height: 40px;
        border-radius: 8px;
        padding: 9px 15px;
    }
}