.films {
  max-width: 1303px;
  margin: 0 auto 40px;

  .film {
    img {
      transition: 0.3s;
    }

    &:hover {
      img {
        opacity: 0.2;
        transition: 0.3s;
      }
    }
  }

  &__title {
    display: flex;
    align-items: center;

    max-width: 1262px;
    margin: 0 auto 15px;

    font-size: 24px;
    line-height: 28px;
    font-weight: 700;
    color: #ffffff;

    svg {
      margin-top: 2px;
    }
  }


}
