.creators {
    margin-top: 32px;

    >div {
        &:first-child {
            margin-top: 0;
        }
    }
}

.directorsItems {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.positions {
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
    font-style: normal;
    padding-left: 12px;
    padding-right: 12px;
    margin-bottom: 16px;
    margin-top: 16px;
}