.filterDir {
  display: flex;
  gap: 12px;
  align-items: center;
  font-size: 15px;
  line-height: 20px;
  font-weight: 500;
  color: #a5a1b2;

  &:hover {
    color: rgb(234, 0, 61);
    transition: color .4s;

  }
}