.creators {
  padding: 0 20px 0 20px;

  .creatorsTitle {
    display: inline-block;

    padding-bottom: 4px;

    font-size: 24px;
    line-height: 28px;
    font-weight: 700;

    color: #fff;
    border-bottom: 1px solid rgba(255, 255, 255, .16);

    cursor: pointer;
  }

  .creatorsItems {
    margin-top: 20px;

    display: flex;

    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;

    .moreCreators {
      width: 88px;
      height: 88px;

      border-radius: 50%;
      background-color: #1f1b2e;

      font-size: 15px;
      line-height: 20px;
      font-weight: 500;

      transition-duration: 0.3s;
      color: #a5a1b2;

      display: flex;
      justify-content: center;
      align-items: center;

      cursor: pointer;

      &:hover {
        transition-duration: 0.3s;
        background-color: #312A44;

        color: #ffffff;
      }
    }
  }
}

@media(max-width: 600px) {
  .modalCreatorsItem {
    width: 84px;
  }

  .modalCreatorsItemName {
    font-size: 13px;
    line-height: 16px;
  }
}