.wrapper {
  max-width: 1303px;
  margin: auto;

  color: #ffffff;

  .filmGenres {
    display: flex;
    justify-content: space-between;
  }

  .arrow {
    display: none;

    svg {
      transform: rotate(180deg);
    }
  }

  .choice {
    background-color: #ea003d;
    height: 28px;
    padding: 6px 10px;
    border-radius: 6px 6px 6px 6px;

    font-size: 13px;
    line-height: 16px;
    font-weight: 500;

    overflow: hidden;
    white-space: nowrap;
    text-align: center;

    margin-top: 0;
    letter-spacing: 0;
  }

  .mainContent {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    padding-top: 24px;
    padding-bottom: 24px;
  }
}

@media(max-width: 1160px) {
  .mainContent {
    display: block;
  }
}

@media(max-width: 600px) {
  .title {
    display: none;
  }

  .arrow {
    display: block;
  }
}