.container {
  max-width: 1302px;
  padding: 0 20px;
  margin: 0 auto;
  background-image: url('https://gambit-parent.dfs.ivi.ru/static/23.06.01/images/_main/pageNotFound/bg404.png?ver=fc692232fc07e54ca53a317f4173bbb2');
  background-size: auto 540px;
  background-position: 50% 0;
  background-repeat: no-repeat;
  height: 500px;
}

.wrapper {
  border-top: 1px solid rgba(255, 255, 255, .16);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
}

.error {
  font-size: 40px;
  line-height: 44px;
  font-weight: 900;
  color: #fff;
  text-align: center;
  vertical-align: baseline;
}

.text {
  margin-top: 8px;
  color: #a5a1b2;
  text-align: center;
  font-size: 15px;
  line-height: 22px;
  font-weight: 400;
  vertical-align: baseline;
}