.awards {
    margin-top: 20px;
}

.awardsTitle {
    width: 105px;
    padding-bottom: 4px;
    font-size: 24px;
    line-height: 28px;
    font-weight: 700;
    font-style: normal;
    color: #fff;
    border-bottom: 1px solid rgba(255, 255, 255, .16);
    cursor: pointer;
    margin-bottom: 20px;
    box-shadow: 0 2px 0 #7e798f, inset 0 0 0 #7e798f;
}

.awardsItems {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

@media(max-width:600px) {
    .awardsItems {
        display: block;
    }
}

//AwardsItem

.moldalItem {
    display: flex;
    justify-content: flex-start;

    :first {
        background-color: red;
    }
}

.moldalItemImg {
    height: 116px;
    width: 116px;
    border-radius: 12px;
    background-color: rgba(255, 255, 255, .08);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 24px;
}

.moldalItemInfo {
    li {
        list-style: none;
    }
}

.moldalItemTitle {
    font-size: 28px;
    line-height: 32px;
    font-weight: 700;
    font-style: normal;
    color: #fff;
}

.moldalItemYear {
    color: rgba(255, 255, 255, .32);
    margin-top: 8px;
    font-size: 15px;
    line-height: 20px;
    font-weight: 400;
    font-style: normal;
}

.moldalItemWins {
    margin-top: 24px;

    h3 {
        font-size: 20px;
        line-height: 24px;
        font-weight: 700;
        font-style: normal;
        color: #fff;
    }

    li {
        font-size: 15px;
        line-height: 20px;
        font-weight: 400;
        font-style: normal;
        margin-top: 12px;
    }
}

.moldalItemNominations {
    margin-top: 24px;
    opacity: .48;

    h3 {
        font-size: 20px;
        line-height: 24px;
        font-weight: 700;
        font-style: normal;
        color: #fff;
    }

    li {
        font-size: 15px;
        line-height: 20px;
        font-weight: 400;
        font-style: normal;
        margin-top: 8px;
        opacity: .48;
        color: #fff;
    }
}

.awardsItem {
    background-color: #1f1b2e;
    border-radius: 12px;
    cursor: pointer;
    width: 45%;
    height: 128px;
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 0 20px;
    margin-top: 10px;
}

.awardsItemImg {
    margin-right: 20px;
}

.awardsItemInfoTitle {
    font-size: 17px;
    line-height: 22px;
    font-weight: 700;
    font-style: normal;
    height: 22px;
    color: #fff;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.awardsItemInfoDescription {
    font-size: 15px;
    line-height: 20px;
    font-weight: 400;
    font-style: normal;
    height: 20px;
    margin-top: 2px;
    color: rgba(255, 255, 255, .48);
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

@media(max-width:600px) {
    .awardsItem {
        width: 100%;
    }
}