.movies__btn {
  width: 100%;
  height: 40px;
  border-radius: 8px;
  padding: 9px 15px;
  background-color: transparent;
  border: 1px solid rgba(255,255,255,.32);
  transition-duration: .4s;
  color: #ffffff;
  font-size: 15px;
  line-height: 20px;
  font-weight: 500;
  cursor: pointer;
  &:hover {
    border: 1px solid rgba(255,255,255, 1);
  }
}