* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: #100e19;
}

.swiper {
  height: 500px;
}

.swiper-slide {
  border-radius: 20px;

  color: #100e19;

  background: #fff;
}