.comments {
    margin-top: 20px;
}

.commentsTop {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.addCommentButton {
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, .32);
    height: 32px;
    border-radius: 8px;
    padding: 7px 11px;
    color: #fff;
    width: 200px;
}

.commentsTitle {
    width: 161px;
    padding-bottom: 4px;
    font-size: 24px;
    line-height: 28px;
    font-weight: 700;
    font-style: normal;
    color: #fff;
    border-bottom: 1px solid rgba(255, 255, 255, .16);
    cursor: pointer;
    margin-bottom: 20px;
}

.commentsItems {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

@media(max-width:400px) {
    .commentsTop {
        display: block;
        margin-bottom: 14px;
    }
}