
.navbar {
    display: flex;
    justify-content: flex-start;
    height: 40px;
    border-bottom: 2px solid rgba(255, 255, 255, .4);
    li {
        padding-top: 10px;
        padding-bottom: 10px;
        font-size: 15px;
        line-height: 20px;
        font-weight: 500;
        font-style: normal;
        cursor: pointer;
        opacity: .72;
        color: #fff;
        list-style: none;
        margin-right: 24px;
        position: relative;
    }
}

.active {
    &::after {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        bottom:-3px;
        height: 4px;
        background-color: #ea003d;
    }
}