.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  z-index: 1002;
  overflow: hidden;
  min-height: 100%;
  display: flex;
}


.modal__overlay {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(7, 5, 14, .96);
  overflow-y: scroll;
}

.modalScroll {
  //overflow: hidden;
}


.container {
  max-width: 1216px;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
  //padding-top: 16px;
  //padding-bottom: 48px;
  padding: 16px 20px 48px;
}


.auth__header {
  flex-shrink: 0;
  position: relative;
  height: 52px;
  text-align: center;
  display: flex;
  background-color: #100e19;
  -webkit-box-pack: center;
  align-items: center;
  justify-content: center;
  padding-left: 40px;
  padding-right: 40px;
  flex-direction: column;
}

.auth__headerText {
  color: #fff;
  font-size: 15px;
  line-height: 20px;
  font-weight: 700;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 100%;
}

.auth__btnClose {
  margin-right: 5px;
  display: flex;
  padding: 16px;
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer;
  left: auto !important;
  height: 52px;
  color: #ffffff;
  opacity: .72;


  &:hover {
    opacity: 1;
    transform: scale(1.2);
    transition-duration: .3s;
  }
}

.auth__headerProgress {
  height: 2px;
  background-color: #312b45;

}

.auth__headerProgress_line {
  width: 5%;
  height: 2px;
  background-color: #ea003d;
  transition: width .5s;
}


.form__blockTwo {
  display: block;
  position: relative;
  animation: text2;
  opacity: 0;
  animation-duration: 1s;
  animation-delay: 0.7s;
  animation-fill-mode: forwards;
}

@keyframes text2 {
  0% {
    opacity: 0;
    top: 100px;
  }
  100% {
    top: 0;
    opacity: 1;
  }
}


.form {
  position: relative;

}


.form__LoginContainer {
  margin-top: 20px;
  position: relative;
  width: 25%;
  margin-left: 37.5%;
  animation: textBlock;
  animation-duration: .7s;

  @media (max-width: 1160px) {
    width: 33.33333333%;
    margin-left: 33.33333333%;
  }

  @media (max-width: 878px) {
    width: 50%;
    margin-left: 25%;
  }
  @media (max-width: 600px) {
    width: 100%;
    margin-left: 0;
  }
}


.form__btnContainer {
  margin-top: 20px;
  position: relative;
  width: 25%;
  margin-left: 37.5%;
  animation-delay: 2s;
  animation: textBlock;
  animation-duration: 1s;

  @media (max-width: 1160px) {
    width: 33.33333333%;
    margin-left: 33.33333333%;
  }
  @media (max-width: 878px) {
    width: 50%;
    margin-left: 25%;
  }
  @media (max-width: 600px) {
    width: 100%;
    margin-left: 0;
  }
}


.form__blockText {
  cursor: pointer;
  margin-top: 20px;
  border-radius: 16px 16px 16px 0;
  background-color: #312b45;
  position: relative;
  padding: 16px;
  word-wrap: break-word;
  will-change: min-height;
  width: 37.5%;
  margin-left: 25%;
  animation: textBlock;
  animation-duration: .5s;

  @media (max-width: 1160px) {
    width: 50%;
    margin-left: 16.66666667%;
  }

  @media (max-width: 878px) {
    width: 75%;
    margin-left: 0;
  }
  @media (max-width: 600px) {
    width: 100%;
  }
}


@keyframes textBlock {
  from {
    opacity: 0;
    top: 100px;
  }

  to {
    top: 0;
    opacity: 1;
  }
}

.btn__animate {
  animation: textBlockClose;
  animation-duration: .5s;
  animation-fill-mode: forwards;
}

@keyframes textBlockClose {
  from {
    opacity: 1;
    top: 0;
  }

  to {
    top: -70px;
    opacity: 0;
  }
}


.btnChange__animate {
  animation: btnChange__animate;
  animation-duration: .5s;
  animation-fill-mode: forwards;
}

@keyframes btnChange__animate {
  0% {
    opacity: 1;
    left: -40px;
  }
  100% {
    left: -70px;
    opacity: 0;
  }
}


.form__title {
  font-size: 15px;
  line-height: 20px;
  font-weight: 700;
  color: #fff;
  margin-bottom: 4px
}

.form__text {
  color: #a5a1b2;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;

}

.form__blockLogin {
  position: relative;
  width: 37.5%;
  margin-left: 37.5%;
  padding-left: 12px;
  padding-right: 12px;
  margin-top: 20px;
  animation: login;
  animation-duration: 0.8s;
  animation-direction: alternate;

  @media (max-width: 1160px) {
    width: 50%;
    margin-left: 33.33333333%;
  }

  @media (max-width: 878px) {
    width: 75%;
    margin-left: 25%;
  }
  @media (max-width: 600px) {
    width: 85%;
    margin-left: 18%;
  }
}

@keyframes login {
  0% {
    opacity: 0.2;
    top: 50px;
  }
  100% {
    top: 0;
    opacity: 1;
  }
}

.blockLogin__animate {
  animation: blockLogin__animate;
  animation-duration: 1s;
  animation-fill-mode: forwards;

  @media (max-width: 1160px) {
    animation: blockLogin__animate_media1;
    animation-duration: 1s;
    animation-fill-mode: forwards;
  }
  @media (max-width: 878px) {
    animation: blockLogin__animate_media2;
    animation-duration: 1s;
    animation-fill-mode: forwards;
  }
  @media (max-width: 600px) {
    animation: blockLogin__animate_media3;
    animation-duration: 1s;
    animation-fill-mode: forwards;
  }
}

@keyframes blockLogin__animate {
  100% {
    width: 41.5%;
    margin-left: 33.5%;
  }
}

@keyframes blockLogin__animate_media1 {
  100% {
    width: 60%;
    margin-left: 23.5%;
  }
}

@keyframes blockLogin__animate_media2 {
  100% {
    width: 70%;
    margin-left: 13.5%;
  }
}

@keyframes blockLogin__animate_media3 {
  100% {
    width: 100%;
    margin-left: 0;
  }
}


.form__blockLogin_btn {
  position: absolute;
  background-color: transparent;
  border: 2px solid rgba(255, 255, 255, .32);
  cursor: pointer;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  border-radius: 20px;
  color: #ffffff;
  top: 0;
  left: -40px;
  transition-duration: .4s;

  &:hover {
    border: 1px solid rgba(255, 255, 255, 1);
  }
}

.form__blockLogin_group {
  border-radius: 16px 16px 0 16px;
  background-color: #1f1b2e;
  position: relative;
  padding: 16px;
  word-wrap: break-word;
  will-change: min-height;
}


.formTwo__animate {
  position: relative;
  animation: textBlockClose;
  animation-delay: .8s;
  animation-duration: .5s;
  animation-fill-mode: forwards;
}


.form__input {
  padding-left: 12px;
  padding-right: 12px;
  width: 25%;
  margin-left: 37.5%;
}


.form__btn {
  height: 40px;
  border-width: 1px;
  border-radius: 8px;
  padding: 9px 15px;
  background-color: #ea003d;
  border-color: #ea003d;
  transition-duration: .4s;
  width: 100%;
  font-size: 15px;
  line-height: 20px;
  font-weight: 500;
  color: #fff;
  opacity: .32;
  pointer-events: none;
  cursor: none;

  &:hover {
    background-color: #ee1451;
    transition-duration: .4s;
  }
}

.form__btnActive {
  pointer-events: auto;
  opacity: 1;
  cursor: pointer;
}



.form__enterText {
  margin-top: 20px;
  border-radius: 16px 16px 16px 0;
  background-color: green;
  position: relative;
  padding: 16px;
  word-wrap: break-word;
  will-change: min-height;
  width: 37.5%;
  margin-left: 25%;
  animation: enterText;
  animation-duration: 3s;

  @media (max-width: 1160px) {
    width: 50%;
    margin-left: 16.66666667%;
  }

  @media (max-width: 878px) {
    width: 75%;
    margin-left: 0;
  }
  @media (max-width: 600px) {
    width: 100%;
  }
}


@keyframes enterText {
  from {
    opacity: 0;
    top: 0;
  }

  to {
    top: -200px;
    opacity: 1;
  }
}


.form__errorText {
  cursor: pointer;
  margin-top: 20px;
  border-radius: 16px 16px 16px 0;
  background-color: #8d000f;
  position: absolute;
  padding: 16px;
  top: 78px;
  word-wrap: break-word;
  will-change: min-height;
  width: 37.5%;
  margin-left: 25%;
  animation: erorrText;
  animation-duration: 1s;

  @media (max-width: 1160px) {
    width: 50%;
    margin-left: 16.66666667%;
  }

  @media (max-width: 878px) {
    width: 75%;
    margin-left: 0;
  }
  @media (max-width: 600px) {
    width: 100%;
  }
}

@keyframes erorrText {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}


.socialBlock {
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  //gap: 30px;
  color: white;
}

.socialLink {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  gap: 30px;
}