.creatorsItem {
    margin-right: 24px;
    margin-bottom: 24px;
    cursor: pointer;
    img {
        width: 88px;
        height: 88px;
        border-radius: 50%;
    }
}

.creatorsItemName {
    color: #d9d7e0;
    font-size: 13px;
    line-height: 16px;
    font-weight: 500;
    font-style: normal;
}

.creatorsItemJob {
    color: #a5a1b2;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    font-style: normal;
}